<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <intent>
            <data
                android:host="pay"
                android:pathPattern=".*"
                android:scheme="upi" />
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
        <intent>
            <data
                android:host="mandate"
                android:pathPattern=".*"
                android:scheme="upi" />
        </intent>
        <intent>
            <data
                android:pathPattern=".*"
                android:scheme="upi" />
        </intent>
        <intent>
            <data
                android:host="pay"
                android:pathPattern=".*"
                android:scheme="juspay" />
        </intent>
        <intent>
            <data
                android:host="checkout"
                android:pathPattern=".*"
                android:scheme="credpay" />
        </intent>

        <package android:name="com.tatadigital.tcp.dev" />
        <package android:name="com.tatadigital.tcp" />

        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/uri" />
        </intent>
    </queries>
</manifest>