<?xml version='1.0' encoding='utf-8'?>
<plugin id="hyper-sdk-plugin" version="2.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Base : Start -->
    <name>HyperSDKPlugin</name>
    <description>A Cordova plugin for the HyperSDK</description>
    <author>Juspay Technologies PVT LTD</author>
    <keywords>hypersdk,payments,juspay</keywords>
    <license>Apache 2.0 License</license>
    <!-- Base : End -->

    <!-- Supported Platform : Start -->
    <engines>
        <engine name="cordova" version=">=7.0.0" />
        <engine name="cordova-android" version=">=6.3.0" />
        <engine name="cordova-ios" version=">=4.3.0" />
    </engines>
    <!-- Supported Platform : End -->

    <js-module name="HyperSDKPlugin" src="www/hypersdk.js">
        <clobbers target="cordova.plugins.HyperSDKPlugin" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="config.xml">
            <feature name="HyperSDKPlugin">
                <param name="android-package" value="in.juspay.hypersdk.HyperSDKPlugin" />
            </feature>
        </config-file>
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
        </config-file>
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode" android:exported="false" android:label="@string/activity_name" android:launchMode="singleTop" android:name=".ProcessActivity" android:theme="@style/Theme.AppCompat.Juspay.Transparent" android:windowSoftInputMode="adjustResize" />
        </config-file>
        <source-file src="src/android/HyperSDKPlugin.java" target-dir="src/in/juspay/hypersdk" />
        <source-file src="src/android/HyperActivity.java" target-dir="src/in/juspay/hypersdk" />
        <source-file src="src/android/ProcessActivity.java" target-dir="src/in/juspay/hypersdk" />
        <resource-file src="src/android/jp_styles.xml" target="res/values/jp_styles.xml" />
        <source-file src="src/MerchantConfig.txt" target-dir="../../" />
        <framework custom="true" src="src/android/build-extras.gradle" type="gradleReference"/>
        <hook type="after_plugin_install" src="/scripts/postInstall.js"/>
    </platform>

    <platform name="ios">
        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
                <string>credpay</string>
                <string>phonepe</string>
                <string>paytmmp</string>
                <string>tez</string>
                <string>paytm</string>
                <string>devtools</string>
            </array>
        </config-file>

        <config-file parent="/*" target="config.xml">
            <feature name="HyperSDKPlugin">
                <param name="ios-package" value="HyperSDKPlugin" />
            </feature>
        </config-file>
        <source-file src="src/ios/HyperSDKPlugin.m" />
        <source-file src="src/MerchantConfig.txt" framework="true"  target-dir="../../../"/>
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name="HyperSDK" spec="2.1.9" />
            </pods>
        </podspec>
    </platform>
</plugin>
