* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v23_34 {
    width: 100%;
    min-height: 800px;
    height: 100vh;
    background: rgba(254,254,254,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
    
  }
  .v23_35 {
    width: 100%;
    height: 71px;
    background: rgba(46,43,44,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v23_36 {
    width: 100%;
    height: 52px;
    background: rgba(247,245,245,1);
    opacity: 1;
    position: absolute;
    top: 71px;
    left: 0px;
    overflow: hidden;
  }
  .v23_37 {
    width: 335px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 85px;
    left: 12px;
    font-family: Nunito Sans;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v23_38 {
    width: 185px;
    color: rgba(251,141,51,1);
    position: absolute;
    top: 142px;
    left: 12px;
    font-family: Nunito Sans;
    font-weight: Bold;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v23_119 {
    width: 185px;
    color: rgba(251,141,51,1);
    position: absolute;
    top: 345px;
    left: 12px;
    font-family: Nunito Sans;
    font-weight: Bold;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v23_41 {
    width: 94%;
    height: 35px;
    background: rgba(17,83,144,1);
    opacity: 1;
    position: absolute;
    top: 737px;
    left: 12px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
    font-family: Nunito Sans;
    font-weight: SemiBold;
    color: white;
  }
  .v23_45 {
    width: 20px;
    height: 20px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 23px;
    left: 12px;
    overflow: hidden;
  }
  .v23_46 {
    width: 10px;
    height: 19px;
    background: rgba(254,254,254,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 5px;
  }
  .v23_47 {
    width: 30px;
    height: 30px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 18px;
    left: 12px;
    font-family: Nunito Sans;
    font-weight: SemiBold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
    background-color: rgba(46,43,44,1);
    border: none;
    background-image: url(../img/back_icon.png);
    background-repeat: no-repeat;
    background-position: center center;
    
  }
  .v23_117 {
    width: 298px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 12px;
    left: 44px;
    font-family: Nunito Sans;
    font-weight: SemiBold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v23_118 {
    width: 274px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 33px;
    left: 44px;
    font-family: Nunito Sans;
    font-weight: SemiBold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v23_120 {
    width: 326px;
    height: 122px;
    background: rgba(254,254,254,1);
    opacity: 1;
    position: absolute;
    top: 385px;
    left: 12px;
    border: 1px solid rgba(245,245,245,1);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }
  .v23_121 {
    width: 330px;
    height: 110px;
    background: rgba(254,254,254,1);
    opacity: 1;
    position: absolute;
    top: 177px;
    left: 12px;
    border: 1px solid rgba(245,245,245,1);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }
  .v23_122 {
    width: 318px;
    height: 56px;
    background: url("../images/v23_122.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 187px;
    left: 18px;
    overflow: hidden;
  }
  .v23_124 {
    width: 200px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 196px;
    left: 25px;
    font-family: Nunito Sans;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v23_132 {
    width: 200px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 400px;
    left: 25px;
    font-family: Nunito Sans;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v23_136 {
    width: 2200px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 482px;
    left: 25px;
    font-family: Nunito Sans;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v23_134 {
    width: 23px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 433px;
    left: 25px;
    font-family: Nunito Sans;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v23_125 {
    width: 200px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 245px;
    left: 25px;
    font-family: Nunito Sans;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v23_126 {
    width: 329px; 
    background: url("../images/v23_126.png");
    opacity: 1;
    position: absolute;
    top: 228px;
    left: 13px;
    border: 1px solid rgba(245,245,245,1);
  }
  .v23_128 {
    width: 25px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 194px;
    left: 239px;
    font-family: Nunito Sans;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v23_130 {
    width: 22px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 194px;
    left: 308px;
    font-family: Nunito Sans;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v23_133 {
    width: 22px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 398px;
    left: 302px;
    font-family: Nunito Sans;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v23_137 {
    width: 36px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 480px;
    left: 291px;
    font-family: Nunito Sans;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v23_135 {
    width: 32px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 429px;
    left: 291px;
    font-family: Nunito Sans;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v23_131 {
    width: 22px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 245px;
    left: 307px;
    font-family: Nunito Sans;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v23_129 {
    width: 25px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 245px;
    left: 236px;
    font-family: Nunito Sans;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .demo-header-top{
    padding-left: 50px;
    padding-top: 15px;
    color: white;
  }
  .demo-header-bottom{
    padding-left: 50px;
    font-size: 16px;
    color: white;
  }
  